<footer class="page-footer grey darken-4" x-data>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text text-uppercase"><span x-i18n>Helpful tip</span> # </h5>
        <span class="text-smaller" x-date:short></span>
        <p class="grey-text text-lighten-4 my-10" x-i18n>Contact your administrator to create your user account.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright Epyo
    <a class="grey-text text-lighten-4 right" href="/status" target="_blank">MONITOR</a>
    </div>
  </div>
</footer>
</body>
</html>